* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 0 10px;
    
}

.header, .footer, .sectionInfo {
    background-color: #1F2937;
    font-size: 10px;
    color: aliceblue;
    padding: 1px 15px;
}

.header {
    display: flex;
    align-items: center;
}

.sectionInfo p {
    font-size: 18px;
    color: #E5E7EB;
}

.header h3 {
    margin-right: auto;
}

.headerLinks {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
}

.bodyContainer {
    display: flex;
    justify-content: stretch;
    flex-wrap: nowrap;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.sectionInfo {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.sectionImages {

}

.sectionQuote {

}

.sectionBox {

}