* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 0 10px;
}

body {
    background: black;
}

.sign, .boxButton {
    background-color: #3882F6;
    color: #F9FAF8;
    border-color: #F9FAF8;
    border-radius: 25px;
    flex-shrink: 0;
}

.headerLinks {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
}

img {
    border-radius: 25px;
    max-width: 100%;
}

.header, .footer {
    background-color: #1F2937;
    color: aliceblue;
    padding: 1px 15px;
}

.header {
    display: flex;
    align-items: center;
}

.header h3 {
    margin-right: auto;
    font: 24px;
    color: #F9FAF8; 
    font-weight: bold;    
}

.bodyContainer {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    flex: 1;
    align-items: center;
    max-width: 100%;
    padding: 0 15px;
}

.sectionInfo p {
    font-size: 18px;
    color: #E5E7EB;
}

.sectionInfo .leftInfo {
    display: flex;
    flex-direction: column;
}

.sectionInfo {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
}

.sectionImages, .sectionBox {
    background-color: aliceblue;
}

.sectionImages {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.sectionQuote {
    background-color: #E5E7EB;
}

.sectionBox {
    background-color: #3882F6;
}